<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.advanpro.fwtools"
          android:versionCode="102"
          android:versionName="2.0.2 fw">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="com.advanpro.fwtools.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--高德地图KEY-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9b0477b817d160ef77d3ac83da98dc7d" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <activity
            android:name="com.advanpro.fwtools.module.SignInActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.advanpro.fwtools.module.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.advanpro.fwtools.module.SignUpActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.ClipActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.activity.PathActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.advanpro.fwtools.module.activity.MainPlanActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.activity.DailyAndLosePlanActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.activity.MarathonPlanActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.stat.ActivityStatActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.advanpro.fwtools.module.stat.GaitStatActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.stat.PoseStatActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.stat.FatigueWarningActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.stat.PathRecordActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.me.UserInfoActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.me.ChangePwdActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.DeviceManagerActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.MusicManagerActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.NewSonglistActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.AddToSonglistActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.SonglistActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.AboutActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.module.more.OtaActivity" android:screenOrientation="portrait" />
        <activity android:name="com.advanpro.fwtools.fwdebug.FwDebugActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.advanpro.fwtools.module.me.PayLoginfoActivity"
            android:label="@string/title_activity_pay_loginfo" >
        </activity>

        <activity android:name="com.zxing.android.ScanQRCodeActivity" android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105290285" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.advanpro.fwtools.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_wxentry" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".module.me.MyInfoFragment"/>-->
        <service android:name="com.advanpro.fwtools.ble.BleService" android:enabled="true"/>
        <service android:name="com.advanpro.fwtools.module.DataSyncService" android:enabled="true"/>
    </application>
</manifest>
